* {
    font-family: "Times-New-Roman"
}

body {  
    background-color:bisque;
}

.testing {
    color: saddlebrown;
}

img {
    height: 100px;
    width: 100px;
}

span.highlight {
    background-color: yellow;
}